    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: url(./images/red-and-blue-twocolor-abstract-gradient.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .navbar {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #eff4fd;
        position: relative;
    }
    
    nav {
        display: flex;
        width: 84%;
        height: 50px;
        margin: auto;
        padding: 2px 0;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        width: 100px;
        cursor: pointer;
        border-radius: 30px;
        margin-left: -140px;
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    
    nav ul li a:hover {
        color: red;
    }
    
    section {
        background-image: url(./images/vooYUM2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    
    .details {
        padding-top: 170px;
        padding-left: 50px;
    }
    
    b .details {
        margin-left: 8%;
        margin-top: 15%;
    }
    
    .details h1 {
        font-size: 50px;
        color: whitesmoke;
        margin-bottom: 20px;
    }
    
    span {
        color: orange;
    }
    
    .details p:nth-child(2) {
        font-family: calibri;
        font-weight: bold;
        font-size: 60px;
        color: #6be746;
        letter-spacing: 1px;
        line-height: 60px;
    }
    
    .details p:nth-child(3) {
        font-family: calibri;
        font-weight: normal;
        font-size: 20px;
        color: #27c9bb;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    .hireme,
    .downloadcv {
        background-color: orange;
        color: white;
        border: none;
        display: inline-block;
        margin: 70px 50px;
        border-radius: 5px;
        padding: 10px 18px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .images {
        width: 45%;
        height: 80%;
        position: absolute;
        bottom: 100px;
        right: 100px;
    }
    
    .images shape {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    
    .picmike {
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 60px;
        transform: translateX(-26%);
    }
    
    .images:hover .shape {
        bottom: 40px;
    }
    
    .images:hover .picmike {
        left: 45%;
    }
    
    .social {
        margin-left: 8%;
        margin-top: 100px;
    }
    
    .social a {
        font-size: 30px;
        color: #12f1f1;
        margin-right: 20px;
    }
    
    .social a:hover {
        color: orange;
    }
    
    .about {
        display: flex;
        background-image: url(./images/white-and-blue-abstract-background.png);
        width: 80%;
        height: 450px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        margin: 80px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    }
    
    .abouttext h1 {
        color: wheat;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    .abouttext p:nth-child(2) {
        color: wheat;
        font-size: 20px;
        font-weight: bold;
        line-height: 5px;
        padding-bottom: 10px;
    }
    
    .abouttext p:nth-child(3) {
        color: #12cee7;
        font-size: 18px;
    }
    
    .abouttext button {
        width: 150px;
        height: 50px;
        color: white;
        outline: none;
        border: none;
        background-color: sandybrown;
        border-radius: 20px;
        margin: 10px;
        font-size: 20px;
    }
    
    .portfolio {
        background-color: #2f2f2f;
        height: 700px;
        padding-bottom: 30px;
    }
    
    .portfolio-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .heading h1 {
        color: white;
        font-size: 60px;
        padding: 30px;
        text-decoration: underline 10px green;
    }
    
    .p-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: auto;
        background: #4f504f;
        margin: 20px;
        padding: 40px;
        text-align: center;
        border-radius: 20px;
    }
    
    .p-box:hover {
        background: var(--primary);
        transition: 0.5s ease;
    }
    
    .p- img {
        width: 70px;
        height: 70px;
    }
    
    .p-img img {
        width: 100%;
        height: 100%;
        border-radius: 20%;
        border: 4px solid var(--primary);
    }
    
    .p-box h2 {
        font-weight: 600;
        margin: 10px 0;
        color: #12cee7;
    }
    
    .p-box p {
        font-weight: 400;
        color: white;
    }
    
    .portfolio a {
        color: orange;
        padding: 20px;
        text-decoration: none;
    }
    
    .services-container {
        display: flex;
        justify-content: space-around;
        background-image: url(./images/n0UHgT.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
    }
    
    .services {
        height: 400px;
        width: 350px;
        box-shadow: 3px 3px 12px rgba(3, 58, 109, 0.5);
        border-radius: 20px;
        margin: 80px;
        background-color: seashell;
    }
    
    .serviceheading {
        background-image: url(./images/black-theme-tk16.jpg);
        padding: 10px;
    }
    
    .serviceheading p:nth-child(1) {
        color: white;
        font-size: 60px;
        font-weight: bolder;
        padding: 50px;
        text-decoration: underline 10px green;
    }
    
    .serviceheading p:nth-child(2) {
        color: white;
        font-size: 20px;
        font-weight: normal;
    }
    
    .heading {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    
    #number {
        background-color: orange;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        text-align: center;
        font-size: 35px;
        margin: 30px;
    }
    
    .textdetails {
        text-align: center;
        line-height: 20px;
    }
    
    .read {
        color: white;
        outline: none;
        border: none;
        background-color: sandybrown;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        margin: 30px;
    }
    
    .contact {
        background: #4f504f;
    }
    
    .contact-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
    }
    
    .contact-info {
        max-width: 500px;
    }
    
    .info-box {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    
    .info-box i {
        font-size: 20px;
        color: var(--primary);
    }
    
    .info-box p {
        margin-left: 1rem;
        font-weight: 400;
    }
    
    .social {
        display: flex;
        align-items: center;
    }
    
    .social a {
        margin-right: 1rem;
    }
    
    form {
        max-width: 360px;
        margin-top: 4rem;
    }
    
    form input,
    form textarea {
        width: 100%;
        font-size: 14px;
        padding: 1rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        margin-bottom: 12px;
        background: #2c3e50;
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
    }
    
    .form textarea {
        height: 200px;
        resize: none;
    }
    
    .contact-button {
        max-width: 100px;
        font-weight: 600;
        background: var(--primary);
        color: white;
        background-color: orange;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    footer {
        padding: 20px;
        text-align: center;
        background: #4f504f;
        font-size: 18px;
    }