    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: url(./images/red-and-blue-twocolor-abstract-gradient.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .navbar {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #eff4fd;
        position: relative;
    }
    
    nav {
        display: flex;
        width: 84%;
        height: 50px;
        margin: auto;
        padding: 2px 0;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        width: 100px;
        cursor: pointer;
        border-radius: 30px;
        margin-left: -140px;
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    
    nav ul li a:hover {
        color: red;
    }
    
    section {
        background-image: url(./images/vooYUM2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    
    .details {
        padding-top: 170px;
        padding-left: 50px;
    }
    
    b .details {
        margin-left: 8%;
        margin-top: 15%;
    }
    
    .details h1 {
        font-size: 50px;
        color: whitesmoke;
        margin-bottom: 20px;
    }
    
    span {
        color: orange;
    }
    
    .details p:nth-child(2) {
        font-family: calibri;
        font-weight: bold;
        font-size: 60px;
        color: #6be746;
        letter-spacing: 1px;
        line-height: 60px;
    }
    
    .details p:nth-child(3) {
        font-family: calibri;
        font-weight: normal;
        font-size: 20px;
        color: #27c9bb;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    
    .hireme,
    .downloadcv {
        background-color: orange;
        color: white;
        border: none;
        display: inline-block;
        margin: 70px 50px;
        border-radius: 5px;
        padding: 10px 18px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .images {
        width: 45%;
        height: 80%;
        position: absolute;
        bottom: 100px;
        right: 100px;
    }
    
    .images shape {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }
    
    .picmike {
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 60px;
        transform: translateX(-26%);
    }
    
    .images:hover .shape {
        bottom: 40px;
    }
    
    .images:hover .picmike {
        left: 45%;
    }
    
    .social {
        margin-left: 8%;
        margin-top: 100px;
    }
    
    .social a {
        font-size: 30px;
        color: #12f1f1;
        margin-right: 20px;
    }
    
    .social a:hover {
        color: orange;
    }
    
    .about {
        display: flex;
        background-image: url(./images/white-and-blue-abstract-background.png);
        width: 80%;
        height: 450px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        margin: 80px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    }
    
    .abouttext h1 {
        color: wheat;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    .abouttext p:nth-child(2) {
        color: wheat;
        font-size: 20px;
        font-weight: bold;
        line-height: 5px;
        padding-bottom: 10px;
    }
    
    .abouttext p:nth-child(3) {
        color: #12cee7;
        font-size: 18px;
    }
    
    .abouttext button {
        width: 150px;
        height: 50px;
        color: white;
        outline: none;
        border: none;
        background-color: sandybrown;
        border-radius: 20px;
        margin: 10px;
        font-size: 20px;
    }
    
    .portfolio {
        background-color: #2f2f2f;
        height: 700px;
        padding-bottom: 30px;
    }
    
    .portfolio-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .heading h1 {
        color: white;
        font-size: 60px;
        padding: 30px;
        text-decoration: underline 10px green;
    }